<%- include('../layouts/adminHeader.ejs') %>
    <main class="main-wrap" style="margin-left: 0px;">
        <section class="content-main">
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b>Date: <%= orders.createdAt %></b>
                            </span>
                            <br>
                            <small class="text-muted">OrderId: <%= orders.orderId %></small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <select id="orderStatusSelect"  class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                                <option>
                                    <%= orders.status %>
                                </option>
                                <option>Pending</option>
                                <option>Placed</option>
                                <option>Processing</option>
                                <option>Shipped</option>
                                <option>Delivered</option>
                                <option>Cancelled</option>
                            </select>
                            <a class="btn btn-primary" href="#" onclick="changeStatus('<%= orders._id %>')">Save</a>
                            <!-- <a class="btn btn-secondary print ms-2" href="#"><i
                                    class="icon material-icons md-print"></i></a> -->
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%= orders.user.name %> <br>
                                            <%= orders.user.email %> <br>
                                                <%= orders.user.mobile %>
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: Fargo express <br> Status: <%= orders.status %>
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        <%= orders.shippingAddress.name %>,<%= orders.shippingAddress.addressType %>
                                                Address,<%= orders.shippingAddress.mobile %><br>
                                                    <%= orders.shippingAddress.address %>,<%=
                                                            orders.shippingAddress.locality %>,<%=
                                                                orders.shippingAddress.district %>,<%=
                                                                    orders.shippingAddress.state %>,<%=
                                                                        orders.shippingAddress.pincode %>
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% orders.products.forEach(product=> { %>
                                            <tr>
                                                <td>
                                                    <a class="itemside" href="#">
                                                        <div class="left">
                                                            <img src="/productImages/<%= product.product.image[0] %>"
                                                                width="40" height="40" class="img-xs" alt="Item">
                                                        </div>
                                                        <div class="info">
                                                            <%= product.product.productname %>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td> ₹ <%= product.product.offprice %>
                                                </td>
                                                <td>
                                                    <%= product.quantity %>
                                                </td>
                                                <td class="text-end"> ₹ <%= product.subtotal %>
                                                </td>
                                            </tr>
                                            <% }) %>
                                                <tr>
                                                    <td colspan="4">
                                                        <article class="float-end">
                                                            <dl class="dlist">
                                                                <dt>Subtotal:</dt>
                                                                <dd>₹ <%= orders.total %>
                                                                </dd>
                                                            </dl>
                                                            <dl class="dlist">
                                                                <dt>Shipping cost:</dt>
                                                                <dd>₹ 0.00</dd>
                                                            </dl>
                                                            <dl class="dlist">
                                                                <dt>Discount:</dt>
                                                                <dd>₹ <%= orders.discountAmount %></dd>
                                                            </dl>
                                                            <dl class="dlist">
                                                                <dt>Grand total:</dt>
                                                                <dd> <b class="h5">₹ <%= orders.grandTotal %></b> </dd>
                                                            </dl>
                                                            <dl class="dlist">
                                                                <dt id="status" class="text-muted">Status:<%= orders.status %>
                                                                </dt>
                                                                <dd>
                                                                    <span
                                                                        class="badge rounded-pill alert-success text-success">
                                                                        <%= orders.paymentOption %>
                                                                    </span>
                                                                </dd>
                                                            </dl>
                                                        </article>
                                                    </td>
                                                </tr>
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                            <!-- <a class="btn btn-primary" href="page-orders-tracking.html">View Order Tracking</a> -->
                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <div class="box shadow-sm bg-light">
                                <h6 class="mb-15">Payment info</h6>
                                <p>
                                    <p style="color: black;">Payment Mode: <%= orders.paymentOption %></p>
                                    <p id="refundstatus" style="color: black; display: none;">Amount <%= orders.total %> Successfully refunded</p>
                                </p>
                            </div>
                            <div class="h-25 pt-4">
                                <div class="mb-3">
                                    <label>Reson of Cancel</label>
                                    <textarea class="form-control" style="background-color: lightgray; color: black;" name="notes" id="notes"
                                    readonly><%= orders.resonOfcancel %></textarea>
                                </div>
                            </div>
                            <div class="h-25 pt-4 mt-50">
                                <div class="mb-3">
                                    <a class="btn btn-primary" type="button" id="refund" style="display: none;" href="#" onclick="refund('<%= orders._id %>')">Approve for Refund</a>
                                </div>
                            </div>
                        </div> <!-- col// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
    </main>

    <script>
            if ((('<%= orders.status %>' === 'Cancelled' || '<%= orders.status %>' === 'Returned')  && '<%= orders.paymentOption %>' === 'Razorpay') || ('<%= orders.status %>' === 'Returned' && '<%= orders.paymentOption %>' === 'Cash On Delivery') ) {
                const refund = document.getElementById('refund');
                refund.style.display = 'block';
            }

    </script>

    <script>
        async function changeStatus(OrderId) {
            try {
                const action = document.getElementById('orderStatusSelect').value;
                const response = await fetch(`/admin/changeStatus/${OrderId}`, {
                    method: 'put',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ action: action })
                });
                const data = await response.json();

                if (response.ok) {
                    // Status updated successfully
                    document.getElementById('status').innerText = "Status:" + "" + data.newStatus;
                    
                }

            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>

    <script>
        async function refund(orderId){
            try{
                const response = await fetch (`/admin/cancelRefund/${orderId}`, {
                    method:'GET'
                });
                const data = await response.json();
                if(data.success){
                    const refundstatus = document.getElementById('refundstatus');
                    refundstatus.style.display = 'block';
                    const refund = document.getElementById('refund');
                    refund.style.display = 'none';
                }
            }catch(error){
                console.log(error.message);
            }
        }
    </script>


    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>
    </body>

    </html>