<%- include('../layouts/userHeader.ejs') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home" rel="nofollow">Home</a>
                    <span></span> <a href="/shop" rel="nofollow">Shop</a>
                    <span></span> Your Cart
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <% if (cartItems && cartItems.products && cartItems.products.length> 0) { %>
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table shopping-summery text-center clean">
                                    <thead>
                                        <tr class="main-heading">
                                            <th scope="col">Image</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Subtotal</th>
                                            <th scope="col">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% cartItems.products.forEach((product,index)=> { %>
                                            <tr>
                                                <td class="image product-thumbnail"><img
                                                        src="/productImages/<%= product.product.image[0] %>" alt="Item"
                                                        style="max-width: 50px; max-height: 50px;"></td>
                                                <td class="product-des product-name">
                                                    <h5 class="product-name"><a href="shop-product-right.html">
                                                            <%= product.product.productname %>
                                                        </a></h5>
                                                </td>
                                                <% if(product.product.offprice){ %>
                                                    <td class="price" data-title="Price"><span>₹<%=
                                                                product.product.offprice %> </span></td>
                                                    <% } else{ %>
                                                        <td class="price" data-title="Price"><span>₹<%=
                                                                    product.product.price %> </span></td>
                                                        <% } %>
                                                            <td class="text-center" data-title="Stock">
                                                                <div class="detail-qtyy border radius m-auto"
                                                                    style="display: flex; justify-content: space-between;">
                                                                    <!-- Decrease quantity -->
                                                                    <div>
                                                                        <a type="submit"
                                                                            onclick="updateQuantity('<%= product.product._id %>', 'decrement', '<%= index %>')"
                                                                            style="cursor: pointer; font-size: 20px;"><i
                                                                                class="fi-rs-angle-small-down"></i></a>
                                                                    </div>

                                                                    <!-- Quantity display -->
                                                                    <div>
                                                                        <span id="quantity-<%= product.product._id %>"
                                                                            class="qty-val"
                                                                            style="font-size: 14px; margin-left: 10px; margin-right: 10px;">
                                                                            <%= product.quantity %>
                                                                        </span>
                                                                    </div>

                                                                    <!-- Increase quantity -->
                                                                    <div>
                                                                        <a type="submit"
                                                                            onclick="updateQuantity('<%= product.product._id %>', 'increment', '<%= index %>')"
                                                                            style="cursor: pointer; font-size: 20px;"><i
                                                                                class="fi-rs-angle-small-up"></i></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-right" data-title="Cart">
                                                                <span id="subtotal-<%= product.product._id %>">₹<%=
                                                                        product.subtotal %></span>
                                                            </td>
                                                            <td class="action" data-title="Remove"><a href="#"
                                                                    class="text-muted"
                                                                    onclick="deleteCartitem('<%= product.product._id %>' , '<%= cartItems._id %>')"><i
                                                                        class="fi-rs-trash"></i></a></td>
                                            </tr>
                                            <% }) %>
                                                <tr>
                                                    <td colspan="6" class="text-end">
                                                        <a href="#" class="text-muted"
                                                            onclick="deleteall('<%= cartItems._id %>')"> <i
                                                                class="fi-rs-cross-small"></i> Clear Cart</a>
                                                    </td>
                                                </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6 col-md-12" style="margin-left: 550px;">
                                <div class="border p-md-4 p-30 border-radius cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Cart Totals</h4>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label">Cart Subtotal</td>
                                                    <td class="cart_total_amount"><span id="cart-subtotal"
                                                            class="font-lg fw-900 text-brand">₹<%= cartItems.total %>
                                                        </span></td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free
                                                        Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                    <td class="cart_total_amount"><strong><span id="cart-total"
                                                                class="font-xl fw-900 text-brand">₹<%= cartItems.total
                                                                    %></span></strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <a href="/checkout" class="btn " style="margin-left: 230px;"> <i
                                            class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                                    <!-- <button class="btn" style="margin-left: 230px;" onclick="checkOut()"><i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</button> -->

                                </div>
                            </div>
                            <div class="cart-action text-end" style="margin-top: 10px; margin-right: 80px;">
                                <!-- <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a> -->
                                <a href="/shop" class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue
                                    Shopping</a>
                            </div>
                            <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                            <div class="row mb-50">
                            </div>
                        </div>
                        <% } else { %>
                            <div id="error-message"
                                style="display: flex; align-items: center; justify-content: center;  color: #ff0019; padding: 20px; border-radius: 5px; text-align: center;">
                                <p style="color: red; font-weight: bold;">Oops, Your cart is empty!.
                                    <br><span><a type="button" style="margin-top: 10px; color: green;" href="/shop">Add
                                            to cart</a></span>
                                </p>
                            </div>
                            <% } %>

                </div>
            </div>
        </section>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>

    <script>
        async function updateQuantity(productId, action, index) {
            try {
                const response = await fetch(`/update-quantity/${productId}`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ action: action, index: index })
                });

                const data = await response.json();

                if (response.status === 200) {

                    document.getElementById(`quantity-${productId}`).innerText = data.currentCartitem.quantity;
                    document.getElementById(`subtotal-${productId}`).innerText = "₹" + data.currentCartitem.subtotal;
                    document.getElementById('cart-subtotal').innerText = "₹" + data.Total;
                    document.getElementById('cart-total').innerText = "₹" + data.Total;
                } else if (response.status === 400) {

                    swal({
                        title: "Warning",
                        text: data.error,
                        icon: "warning",
                        timer: 1500, 
                        buttons: false 
                    });



                } else if (response.status === 404) {
                    swal("Error", "Resource not found", "error");
                } else if (response.status === 500) {
                    swal("Error", "Internal server error occurred", "error");
                } else {
                    swal("Error", "An error occurred", "error");
                }

            } catch (error) {
                console.error('Error:', error);
            }
        }

        async function deleteCartitem(productId, cartId) {
            try {
                const alert = swal({
                    title: "Are you sure?",
                    text: "You want to delete this item!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                });

                const willDelete = await alert; 

                if (willDelete) {
                    const response = await fetch(`/remove-cartItem/?productId=${productId}&cartId=${cartId}`, {
                        method: 'DELETE'
                    });
                    const data = await response.json();

                    if (response.ok) {
                        swal("Poof! Your seleted item deleted!", {
                            icon: "success",
                        }).then(() => {
                            window.location.href = "/cart";
                        });
                    } else {
                        swal("Item remove successfully");
                    }
                } else {
                    console.error('Deletion canceled');
                }
            } catch (error) {
                console.log(error.message);
            }
        }


        async function deleteall(cartId) {
            try {
                const alert = swal({
                    title: "Are you sure?",
                    text: "You want to delete this item!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                });

                const willDelete = await alert;

                if (willDelete) {

                const response = await fetch(`/removeall/?cartId=${cartId}`, {
                    method: 'DELETE'
                });

                const data = await response.json();

                if (response.ok) {
                    
                    swal("All items removed!", {
                            icon: "success",
                        }).then(() => {
                            window.location.href = "/cart";
                        });
                    }
                }else {
                    console.error('Deletion canceled');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>


    <%- include('../layouts/userFooter.ejs') %>