<%- include('../layouts/userHeader.ejs') %>
    <main class="main-wrap">
        <section class="content-main">
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b>Order Date: <%=
                                        orderDetails.createdAt %></b>
                            </span> <br>
                            <small class="text-muted">OrderId: <%= orderDetails.orderId %></small>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%= userData.name %> <br>
                                            <%= userData.email %> <br>
                                                <%= userData.mobile %>
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p id="stausOforder" class="mb-1">
                                        Shipping: Fargo express <br> Status: <%= orderDetails.status %>
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        <%= orderDetails.shippingAddress.name %>,<%=
                                                orderDetails.shippingAddress.addressType %>
                                                Address,<%= orderDetails.shippingAddress.mobile %><br>
                                                    <%= orderDetails.shippingAddress.address %>,<%=
                                                            orderDetails.shippingAddress.locality %>,<%=
                                                                orderDetails.shippingAddress.district %>,<%=
                                                                    orderDetails.shippingAddress.state %>,<%=
                                                                        orderDetails.shippingAddress.pincode %>
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% orderDetails.products.forEach(product=> { %>
                                            <tr>
                                                <td>
                                                    <a class="itemside" href="#">
                                                        <div class="left">
                                                            <img src="/productImages/<%= product.product.image[0] %>"
                                                                width="40" height="40" class="img-xs" alt="Item">
                                                        </div>
                                                        <div class="info">
                                                            <%= product.product.productname %>
                                                        </div>
                                                    </a>
                                                </td>
                                                <% if(product.offprice){ %>
                                                    <td> ₹ <%= product.product.offprice %>
                                                    </td>
                                                    <% } else{ %>
                                                        <td> ₹ <%= product.product.price %>
                                                        </td>
                                                        <% } %>
                                                            <td>
                                                                <%= product.quantity %>
                                                            </td>
                                                            <td class="text-end">₹ <%= product.subtotal %>
                                                            </td>
                                            </tr>
                                            <% }); %>
                                                <tr>
                                                    <td colspan="4">
                                                        <article class="float-end">
                                                            <dl class="dlist"
                                                                style="display: flex; justify-content: space-between;">
                                                                <dt>Subtotal:</dt>
                                                                <dd>₹ <%= orderDetails.total %>
                                                                </dd>
                                                            </dl>
                                                            <dl class="dlist"
                                                                style="display: flex; justify-content: space-between;">
                                                                <dt>Shipping cost:</dt>
                                                                <dd>₹ 0.00</dd>
                                                            </dl>
                                                            <dl class="dlist"
                                                                style="display: flex; justify-content: space-between;">
                                                                <dt>Discount:</dt>
                                                                <dd>₹ <%= orderDetails.discountAmount %>
                                                                </dd>
                                                            </dl>
                                                            <dl class="dlist"
                                                                style="display: flex; justify-content: space-between;">
                                                                <dt>Grand total:</dt>
                                                                <dd>₹ <%= orderDetails.grandTotal %>
                                                                </dd>
                                                            </dl>
                                                        </article>
                                                    </td>
                                                </tr>
                                    </tbody>


                                </table>
                            </div> <!-- table-responsive// -->
                            <a class="btn btn-primary" href="page-orderDetails-tracking.html">View Order Tracking</a>
                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <div class="box shadow-sm bg-light">
                                <h6 class="mb-15">Payment info</h6>
                                <!-- <p>
                                    <img src="admin-asset/imgs/card-brands/2.png" class="border" height="20"> Master Card **** **** 4768 <br>
                                    Business name: Grand Market LLC <br>
                                    Phone: +1 (800) 555-154-52
                                </p> -->
                                <p>
                                <p style="color: black;">Payment Mode: <%= orderDetails.paymentOption %>
                                </p>
                                <% if((orderDetails.paymentOption==='Cash On Delivery' &&
                                    (orderDetails.status==='Returned' ))|| (orderDetails.paymentOption==='Razorpay' &&
                                    (orderDetails.status==='Cancelled' || orderDetails.status==='Returned' ))) { %>
                                    <p id="statusRefund" style="color: black;"></p>
                                    </p>
                                    <% } %>
                            </div>
                            <% if(orderDetails.status !=='Cancelled' && orderDetails.status !=='Returned' &&
                                orderDetails.status !=='Delivered' ) { %>
                                <form id="Formcancel">
                                    <div id="cancel" class="h-25 pt-4">
                                        <div class="mb-3">
                                            <label style="color: red; font-weight: bold;">Cancel</label>
                                            <textarea class="form-control" name="notes" id="notes"
                                                placeholder="Type reson"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Cancel</button>
                                    </div>
                                </form>
                                <% } %>
                                    <% if(orderDetails.status==='Delivered' ) { %>
                                        <form id="Formreturn">
                                            <div id="return" class="h-25 pt-4">
                                                <div class="mb-3">
                                                    <label style="color: red; font-weight: bold;">Return</label>
                                                    <textarea class="form-control" name="notes" id="notes"
                                                        placeholder="Type reson"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Return</button>
                                            </div>
                                        </form>
                                        <% } %>
                                            
                        </div> <!-- col// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
    </main>













    <script>
        // Get references to the link and the form
        const Comment = document.getElementById('comment');
        const review = document.getElementById('reviewAndrating');

        // Add event listener to the link
        Comment.addEventListener('click', function (event) {
            event.preventDefault(); // Prevent default link behavior
            if (review.style.display === 'none') {
                review.style.display = 'block';
            } else {
                review.style.display = 'none';
            }
        });
    </script>


    <script>
        if ('<%= orderDetails.status %>' === "Cancelled") {
            document.getElementById('stausOforder').innerText = data.success;
            const cancel = document.getElementById('cancel');
            cancel.style.display = 'none'
        }
    </script>


    <script>
        if (('<%= orderDetails.status %>' === "Cancelled" || '<%= orderDetails.status %>' === "Returned") && '<%= orderDetails.refund %>' === "1") {
            document.getElementById('statusRefund').innerText = 'Successfully refunded your bill amount'
        } else if (('<%= orderDetails.status %>' === "Cancelled" || '<%= orderDetails.status %>' === "Returned") && '<%= orderDetails.refund %>' === "0") {
            document.getElementById('statusRefund').innerText = 'Refund is underprocess'
        }
    </script>


    <script>
        const form = document.getElementById('Formcancel');
        form.addEventListener('submit', function submitForm(event) {
            event.preventDefault();

            const preformData = new FormData(form);
            const formData = new URLSearchParams(preformData);

            fetch('/cancelOrder/<%= orderDetails._id %>', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success || data.cancelRefund) {
                        document.getElementById('stausOforder').innerText = data.success;
                        const cancel = document.getElementById('cancel');
                        cancel.style.display = 'none'
                        document.getElementById('statusRefund').innerText = data.cancelRefund;

                    } else {
                        alert('Order Cancellation failed');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });

        });
    </script>

    <script>
        const formreturn = document.getElementById('Formreturn');
        formreturn.addEventListener('submit', function submitForm(event) {
            event.preventDefault();

            const preformData = new FormData(formreturn);
            const formData = new URLSearchParams(preformData);

            fetch('/returnOrder/<%= orderDetails._id %>', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success || data.returnRefund) {
                        document.getElementById('stausOforder').innerText = data.success;
                        const returnOrder = document.getElementById('return');
                        returnOrder.style.display = 'none'
                        document.getElementById('statusRefund').innerText = data.returnRefund;

                    } else {
                        alert('Order Return failed');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });

        });
    </script>


    <%- include('../layouts/userFooter.ejs') %>