<%- include('../layouts/userHeader.ejs') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Your Cart
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <img src="/user-assets/imgs/theme/orderPlaced.jpg" alt="Item" style="max-width: 70px; max-height: 70px;">
            <div>
                <h3 style="margin-top: 10px; color: red;">Order placed successfully</h3>
                <h5 style="margin-top: 10px; color: red;">Order placed for ₹ <%= orderDetails.total %>!</h5>
                <h5 style="margin-top: 10px; color: rgb(255, 153, 0);">Status: <%= orderDetails.status %>
                </h5>
            </div>
        </div>

        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">OrderId</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (orderDetails && orderDetails.products && orderDetails.products.length> 0) {
                                        %>
                                        <% orderDetails.products.forEach(product=> { %>
                                            <tr>
                                                <td class="text-right" data-title="Cart">
                                                    <span id="orderId-<%= orderDetails.orderId %>">
                                                        <%= orderDetails.orderId %>
                                                    </span>
                                                </td>
                                                <td class="image product-thumbnail"><img
                                                        src="/productImages/<%= product.product.image[0] %>" alt="Item"
                                                        style="max-width: 50px; max-height: 50px;"></td>
                                                <td class="product-des product-name">
                                                    <h5 class="product-name"><a href="shop-product-right.html">
                                                            <%= product.product.productname %>
                                                        </a></h5>
                                                </td>
                                                <% if(product.product.offprice){ %>
                                                    <td class="price" data-title="Price"><span>₹<%=
                                                                product.product.offprice %> </span></td>
                                                    <% } else{ %>
                                                        <td class="price" data-title="Price"><span>₹<%=
                                                            product.product.price %> </span></td>
                                                        <% } %>
                                                            <td class="text-center" data-title="Stock">
                                                                <div class="detail-qty border radius  m-auto">
                                                                    <span id="quantity-<%= product.product._id %>"
                                                                        class="qty-val">
                                                                        <%= product.quantity %>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <td class="text-right" data-title="Cart">
                                                                <span id="subtotal-<%= product.product._id %>">₹<%=
                                                                        product.subtotal %></span>
                                                            </td>
                                            </tr>
                                            <% }) %>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="6">No products in cart</td>
                                                    </tr>
                                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-action text-end" style="margin-top: 10px;">
                            <a  href="/orderView/?orderId=<%= orderDetails._id %>" class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Order Summary</a>
                            <a href="/shop" class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue
                                Shopping</a>
                        </div>
                        <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                        <div class="row mb-50">
                            <div class="col-md-6">
                                <div class="mb-25">
                                    <h4>DELIVERY ADDRESS</h4>
                                </div>
                                <% if(orderDetails) { %>
                                    <div class="address-selection">
                                        <!-- Address 1 -->
                                        <div class="address"
                                            style="display: flex; align-items: center; margin-bottom: 10px;">
                                            <div class="col-lg-12" style="margin-right: 50px;">
                                                <div class="card mb-3 mb-lg-0">
                                                    <div class="card-header"
                                                        style="display: flex; justify-content: space-between;">
                                                        <h5 class="mb-0">Address</h5>
                                                        <!-- <a href="/editpage/<%= orderDetails.shippingAddress._id %>" class="btn-small" style="font-weight: bold; color: blue;">Edit</a> -->
                                                    </div>
                                                    <div class="card-body">
                                                        <address>
                                                            <%= orderDetails.shippingAddress.name %>,<%=
                                                                    orderDetails.shippingAddress.addressType %> Address,
                                                                    <%= orderDetails.shippingAddress.mobile %><br>
                                                                        <%= orderDetails.shippingAddress.address %>,<%=
                                                                                orderDetails.shippingAddress.locality %>
                                                                                ,<%= orderDetails.shippingAddress.district
                                                                                    %>,<%=
                                                                                        orderDetails.shippingAddress.state
                                                                                        %>,<%=
                                                                                            orderDetails.shippingAddress.pincode
                                                                                            %>
                                                        </address>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } else { %>
                                        <p>Address Not Found</p>
                                        <% } %>
                            </div>
                            <div class="col-lg-6">
                                <% if (orderDetails && orderDetails.products && orderDetails.products.length> 0) { %>
                                    <div class="border p-md-4 p-30 border-radius cart-totals">
                                        <div class="heading_s1 mb-3">
                                            <h4>Order Summary</h4>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="cart_total_label">Subtotal</td>
                                                        <td class="cart_total_amount"><span id="cart-subtotal"
                                                                class="font-lg fw-900 text-brand">₹<%=
                                                                    orderDetails.total %></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="cart_total_label">Shipping</td>
                                                        <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free
                                                            Shipping</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="cart_total_label">Total</td>
                                                        <td class="cart_total_amount"><strong><span id="cart-total"
                                                                    class="font-xl fw-900 text-brand">₹<%=
                                                                        orderDetails.grandTotal %></span></strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('../layouts/userFooter.ejs') %>