<%- include('../layouts/userHeader.ejs') %>
    <main class="main">
        <% if(products.length> 0) {
            for(let i = 0; i<products.length; i++) { %>
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home" rel="nofollow">Home</a>
                    <span></span><a href="/home" rel="nofollow"><%= products[i].catname %></a> 
                    <span></span><a href="/home" rel="nofollow"><%= products[i].brandname %></a>
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <div class="product-detail accordion-detail">                         
                            <div class="row mb-50">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-gallery" >
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <% if(products[i].stock <= 0) { %> <!-- Check if product is out of stock -->
                                            <div class="out-of-stock-label" style="position: absolute; top: 10px; left: -8px; background-color: red; color: white; padding: 3px 6px; border-radius: 100%; transform: rotate(-49deg); z-index: 1; font-size: xx-small;">Out of Stock</div> <!-- Out of stock label -->
                                        <% } %>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            <figure class="border-radius-10">
                                                <img src="/productImages/<%= products[i].image[0] %>" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="/productImages/<%= products[i].image[1] %>" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="/productImages/<%= products[i].image[2] %>" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="/productImages/<%= products[i].image[3] %>" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="/productImages/<%= products[i].image[4] %>" alt="product image">
                                            </figure>
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            <div><img src="/productImages/<%= products[i].image[0] %>" alt="product image"></div>
                                            <div><img src="/productImages/<%= products[i].image[1] %>" alt="product image"></div>
                                            <div><img src="/productImages/<%= products[i].image[2] %>" alt="product image"></div>
                                            <div><img src="/productImages/<%= products[i].image[3] %>" alt="product image"></div>
                                            <div><img src="/productImages/<%= products[i].image[4] %>" alt="product image"></div>                       
                                        </div>
                                    </div>
                                    <!-- End Gallery -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail"><%= products[i].productname %></h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Brands: <a href="shop-grid-right.html"><%= products[i].brandname %></a></span>
                                            </div>
                                            <!-- <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                            </div> -->
                                        </div>
                                        <div class="ratings mb-2" style="background-color: #28a745; display: inline-block; color: #fff; border-radius: 15px; padding: 5px 10px;  font-size: 16px;">4.4 <span style="font-size: 16px;">&#9733;</span></div>
                                        <span class="font-small margin-left: 2px;  text-success" style="font-weight: bold; color: #666;">
                                            (24 reviews)
                                        </span>
                                        <div class="clearfix product-price-cover">
                                           
                                                                                      
                                            <div class="product-price primary-color float-left">
                                                <ins><span class="text-brand" >₹<%= products[i].offprice %></span></ins>
                                                <ins><span class="old-price font-md ml-15">₹<%= products[i].price %></span></ins>
                                                <span class="save-price text-success font-md color3 ml-15">25% Off</span>
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <!-- <div class="short-desc mb-30">
                                            <p><%= products[i].description %></p>
                                        </div> -->
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10">Category: <%= products[i].catname %></li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                            </ul>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                            <!-- <div class="detail-qty border radius">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div> -->
                                            <div class="product-extra-link2">
                                                <button type="button" class="button button-add-to-cart" data-product-id="<%= products[i]._id %>">Add to cart</button>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                            </div>
                                        </div>
                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li>Availability:<span class="in-stock text-success ml-5"><%= products[i].stock %>  <%
                                                if(typeof message !== 'undefined'){
                                                    %>
                                                    <p style="color: black;"><%= message %></p>
                                                    <%
                                                }
                                            %></span></li>
                                        </ul>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 m-auto entry-main-content">
                                    <h2 class="section-title style-1 mb-30">Description</h2>
                                    <div class="description mb-50"> 
                                        <p><%= products[i].description %></p>                                       
                                    </div>
                                    <h3 class="section-title style-1 mb-30">Additional info</h3>
                                    <table class="font-md mb-30">
                                        <tbody>
                                            <tr class="stand-up">
                                                <th>Case diameter</th>
                                                <td>
                                                    <p><%= products[i].caseDiameter %></p>
                                                </td>
                                            </tr>
                                            <tr class="folded-wo-wheels">
                                                <th>Band colour</th>
                                                <td>
                                                    <p><%= products[i].bandColour %></p>
                                                </td>
                                            </tr>
                                            <tr class="folded-w-wheels">
                                                <th>Band material type</th>
                                                <td>
                                                    <p><%= products[i].bandMaterial %></p>
                                                </td>
                                            </tr>
                                            <tr class="door-pass-through">
                                                <th>Warranty type</th>
                                                <td>
                                                    <p><%= products[i].warranty %></p>
                                                </td>
                                            </tr>
                                            <tr class="frame">
                                                <th>Watch movement type</th>
                                                <td>
                                                    <p><%= products[i].movement %></p>
                                                </td>
                                            </tr>
                                            <tr class="weight-wo-wheels">
                                                <th>Item weight</th>
                                                <td>
                                                    <p><%= products[i].weight %></p>
                                                </td>
                                            </tr>
                                            <tr class="weight-capacity">
                                                <th>Country of Origin</th>
                                                <td>
                                                    <p><%= products[i].country %></p>
                                                </td>
                                            </tr>   
                                        </tbody>
                                    </table>
                                    <h3 class="section-title style-1 mb-30 mt-30">Reviews</h3>
                                    <!--Comments-->
                                    <div class="comments-area style-2">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <h4 class="mb-30">Customer questions & answers</h4>
                                                <div class="comment-list">
                                                    <div class="single-comment justify-content-between d-flex">
                                                        <div class="user justify-content-between d-flex">
                                                            <div class="thumb text-center">
                                                                <img src="/user-assets/imgs/page/avatar-6.jpg" alt="">
                                                                <h6><a href="#">Vishnu</a></h6>
                                                            </div>
                                                            <div class="desc">
                                                                <div class="product-rate d-inline-block">
                                                                    <div class="product-rating" style="width:90%">
                                                                    </div>
                                                                </div>
                                                                <p>Thank you very fast shipping.</p>
                                                                <div class="d-flex justify-content-between">
                                                                    <div class="d-flex align-items-center">
                                                                        <p class="font-xs mr-30">December 4, 2023 at 3:12 pm </p>
                                                                        <!-- <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i> </a> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--single-comment -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--comment form-->
                                    <div class="comment-form">
                                        <h4 class="mb-15">Add a review</h4>
                                        <div class="product-rate d-inline-block mb-30">
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-8 col-md-12">
                                                <form class="form-contact comment_form" action="#" id="commentForm">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                                                            </div>
                                                        </div>              
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="button button-contactForm">Submit
                                                            Review</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row mt-60">
                                <div class="col-12">
                                    <h3 class="section-title style-1 mb-30">Related products</h3>
                                </div>
                                <div class="col-12">
                                    <div class="row related-products">
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                            <img class="default-img" src="/productImages/<%= products[0].image[0] %>" alt="">
                                                            <img class="hover-img" src="/productImages/<%= products[0].image[1] %>" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal
"><i class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="hot">Hot</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="shop-product-right.html" tabindex="0"><%= products[0].productname %></a></h2>
                                                    <div class="product-price">
                                                        <span>₹<%= products[0].price %></span>
                                                        <span class="old-price">₹<%= products[0].offprice %></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                            <img class="default-img" src="/productImages/<%= products[0].image[0] %>" alt="">
                                                            <img class="hover-img" src="/productImages/<%= products[0].image[1] %>" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal
"><i class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="hot">Hot</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="shop-product-right.html" tabindex="0"><%= products[0].productname %></a></h2>
                                                    <div class="product-price">
                                                        <span>₹<%= products[0].price %></span>
                                                        <span class="old-price">₹<%= products[0].offprice %></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
        <% } }else { %>
            <tr>
                <td colspan="6">products Not Found</td>
            </tr>
            <% } %>
    </main>

    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        const buttons = document.querySelectorAll('.button-add-to-cart');
    
        buttons.forEach(button => {
            button.addEventListener('click', async () => {
                try {
                    const productId = button.dataset.productId;
                    const res = await fetch(`/add-cart/${productId}`, {
                        method: 'GET'
                    });
    
                    const data = await res.json();
                    
                    if(res.ok){
                        console.log("data");
                        swal("Success", "Successfully add to cart...", "success");
                    }else{
                        swal("Ooops", "Item is Out of Stock", "error");
                    }
    
                    
                } catch (error) {
                    console.log(error);
                }
            });
        });
    </script>
    
    

    <%- include('../layouts/userFooter.ejs') %>